
.box-modal{
border: 3px solod yellow;
padding :   10px 20pk 25px 30px;
margin: 100px;
border}


font-family: Arial, Verdana, sans-serif;}
    h1 {
    font-family: "Courier New", monospace;}
    i {
    color: green;}
    i {
    color: red;}
    b {
    color: pink;}
    p b {
    color: blue !important;}
    p b {
    color: violet;}
    p#intro {
    font-size: 100%;}
    p {
    font-size: 75%;}
