div {
    background: grey url (https://assets.pokemon.com/static2/_ui/img/chrome/body_bg.png);
}

.td-1{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.td-1 i{
    margin-bottom: 10px;
}